# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test/coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter notebooks
.ipynb_checkpoints/

# PyCharm / VS Code
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# MyPy / Pyre / Pytype
.mypy_cache/
.pyre/
.pytype/

# Profiling
.prof

# Local tooling
*.log
*.sqlite3
